#  ASSIGNMENT 1- DAY 2

back slash

In [16]:
print("hello \
python")

hello python

use of \

In [12]:
print("today\'s assignment")

today's assignment

tiple quotes

In [17]:
print(''' |\   /|
  \|_|/
  /. .\
 =\_Y_/=
  {>o<} ''')

 |\   /|
  \|_|/
  /. . =\_Y_/=
  {>o<}

strings inside the quotes

In [18]:
print("today\'s assignment")

today's assignment

In [19]:
print(" hello my name is ROHINI")

 hello my name is ROHINI

In [21]:
print(" hello my name is\t ROHINI")

 hello my name is	 ROHINI

In [22]:
print(" hello my name is\n ROHINI")

 hello my name is
 ROHINI

In [23]:
name = "ROHINI"
age = 20
marks = 89.24
print("the name of the person is:", name, "age of that person is:", age, "marks obtained in exam:", marks)

the name of the person is: ROHINI age of that person is: 20 marks obtained in exam: 89.24

In [26]:
name = "ROHINI"
age = 20
marks = 89.24
print("the name of the person is:", name,"\nage of that person is:", age,"\nmarks obtained in exam:", marks)

the name of the person is: ROHINI
age of that person is: 20
marks obtained in exam: 89.24

for spaces between two sentences we can use it as follows

In [31]:
print("The name of the person is: %10s marks is %10.2f and age is %10d "%(name, marks, age))

The name of the person is:     ROHINI marks is      89.24 and age is         20

PYTHON VARIABLES

In [32]:
a = 10
A = 10

In [33]:
print(a, A)

10 10

In [34]:
a10 = 20

In [35]:
print(a10)

20

In [36]:
if1= 10
print

In [37]:
print(if1)

10

PYTHON ASSIGNMENT STATEMENTS

In [38]:
x = y = 10
x

10

In [39]:
y

10

id() --> used for getting RAM address

In [41]:
id(x)

140719529960112

In [42]:
id(y)

140719529960112

operators and their types
1. arithmetic operators----> +, -, /, *, ** (power symbol), // floor division, %

In [43]:
5**5

3125

In [44]:
10+20

30

In [45]:
76-70

6

In [46]:
10/2

5.0

In [47]:
10//2

5

In [48]:
10/3

3.3333333333333335

In [49]:
10//3

3

In [50]:
10%3

1

2. comparison operator---> ==, <, >, >=, !=

In [52]:
a= 10
b = 20
a==b

False

In [53]:
c =10
a == c

True

In [54]:
c < a

False

In [55]:
c <= a

True

In [56]:
a >=c

True

In [57]:
a >b

False

In [58]:
a!=c

False

In [59]:
a!=b

True

In [60]:
a = 10
10*30

300

BITWISE OPEARATOERS---> |, &, ~, ^, <<, >>
bin()---> used for binary address

In [61]:
a= 240
b = 1
a|b

241

In [62]:
bin(a)

'0b11110000'

In [63]:
bin(b)

'0b1'

In [64]:
a & b

0

In [66]:
a^b

241

In [67]:
a<<b

480

In [68]:
a>>b

120

In [69]:
a~b

SyntaxError: invalid syntax (<ipython-input-69-832d31484aaa>, line 1)

In [70]:
a =1
b = 20
a > 20

False

In [71]:
a> 20 or 10> 9

True

In [72]:
a> 20 and 10> 9

False

MEMBERSHIP OPERATORS----> in, not in

In [73]:
str1 = "python programming"
"a" in str1

True

In [74]:
"b" in str1

False

In [75]:
"x" not in str1

True

IDENTITY OPERATOR---> is, is not

In [76]:
a = 10
b  = 10
a == b

True

In [77]:
id(a)

140719529960112

In [78]:
id(b)

140719529960112

In [79]:
a is b

True

In [80]:
a = 10.5
b = 10.5
a == b

True

In [81]:
a is b

False

In [82]:
id(a)

2246236809488

In [83]:
id(b)

2246236809648

for integer:
-5 to 256---->  eg. a= -4 and b = -4 & a==b it gives true
257 and above---> a=257 and b=257 & a==b it gives false
because of same memmory location

In [85]:
a = 257
b = 257
a is b

False

In [86]:
a = -4
b = -4
a is b

True

OPERATOR PRECEDENCE

In [87]:
10+10/20*4

12.0

In [88]:
2**-1

0.5